$global-palette1: #09BE8B;
$global-palette2: #FB4E4E;
$global-palette3: #FFFFFF;
$global-palette4: #2D3748;
$global-palette5: #CDCFD4;
$global-palette6: #A6A6A6;
$global-palette7: #104441;
$global-palette8: #1E2738;
$global-palette9: #141A28;
$global-palette10: #141A28;